  <div class="panel-group" id="leftMenu">
    <!-- Home -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to "Auth Boilerplate", root_path, :class => 'accordion-toggle', "data-parent"=> '#leftMenu' %>
      </div>
    </div><!-- FIM Home -->
    
    <!-- Menu 1-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#leftMenu" href="#collapseTwo">
          <i class="icon-th"></i> ToBeDone...
        </a>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><%= link_to "Ação 1", root_path %></li>
            <li><%= link_to "Ação 2", root_path %></li>
          </ul>
        </div>
      </div>
    </div><!-- FIM Menu 1 -->
    
    <!-- Gerenciar -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#leftMenu" href="#collapseThree">
          <i class="icon-th"></i> Gerenciar
        </a>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><%= link_to "Meu Perfil", edit_user_registration_path %></li>
            <% if can? :read, User %>
              <li><%= link_to "Usuários", admin_users_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div><!-- FIM GRUPOS -->
    
    <!-- LOGOUT -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to "Logout", destroy_user_session_path, :method => 'delete', "data-toggle"=> 'collapse', "data-parent" => '#leftMenu' %>
      </div>
    </div> <!-- FIM LOGOUT -->
  </div>
