  <div class="center-block vertical-center" style="width: 400px; text-align: center">
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "small-frm"}) do |f| %>
        <h1><%= Rails.application.class.parent %> App</h1>  
        <fieldset>
        <%= f.email_field :email, autofocus: true, placeholder: "seu@email.com.br", html: {width: "100%"} %>
      
        <%= f.password_field :password, autocomplete: "off", placeholder: "Digite sua senha" %>
      
      <% if devise_mapping.rememberable? -%>
        <%= f.label t("devise.views.login.remember_me") %><%= f.check_box :remember_me %>
      <% end -%>
      </fieldset><br />
      <%= f.submit t("devise.views.login.sign_in"), class: "btn btn-lg btn-line btn-primary" %><br /><br />
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
